<!DOCTYPE html>
<html lang="en">
    <header th:replace="/blog/header::headerFragment(${article.title})"></header>
    <body>
        <!-- Navigation-->
        <header th:replace="/blog/header::navbar"></header>
        <!-- Page Header-->
        <header class="masthead" th:style="'background-image:url('+${article.imgUrl == null || article.imgUrl.equals('') ? '/blog/assets/img/post-bg.jpg':article.imgUrl}+')'">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1 th:text="${article.title}"></h1>
                            <h2 class="subheading" th:text="${article.subtitle}"></h2>
                            <span class="meta">
                                Posted by
                                <a href="#!" th:text="${user.name}">Start Bootstrap</a>
                                <span th:text="${#dates.format(article.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div id="test-markdown-view">
                            <textarea style="display:none;" th:text="${article.content}"></textarea>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                var testView = editormd.markdownToHTML("test-markdown-view", {
                                    tex:true
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/blog/js/scripts.js}"></script>
    </body>
</html>
