<!DOCTYPE html>
<html lang="en">
<header th:replace="/blog/header::headerFragment('Error!')"></header>
<body>
    <header th:replace="/blog/header::navbar"></header>
    <header class="masthead" style="background-image:url('/comm/error.jpg');padding-bottom: 20rem;margin-bottom: 0">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1 th:text="${message}"></h1>
                        <span class="meta">
                                你找的页面不在这里！试试回到
                            <u><a href="/">主页</a></u>！
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header th:replace="blog/header::footer"></header>
</body>
