<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.vblog.mapper.ContentMapper">
    <select id="getAllArticle" resultType="cn.lu.vblog.dto.ArticleDTO">
        select t1.id,t1.title,t1.subtitle,t1.gmt_create,t2.name
        from content t1, admin_user t2
        where t1.creator = t2.id and t1.deleted = 0 and t2.deleted = 0
    </select>
    <select id="getAllContent" resultType="cn.lu.vblog.entity.Content">
        select * from content where id = 1
    </select>
</mapper>
